# Information technologies

Student: Demidenko A. A., group IS/b-18-1-z


## Lists input-output

### Converting string to list

Lets take string of words separated by spaces (can be more than one) and symbols at the end of string.

In [10]:
s = "hello world    this is    a\ntest"
print(s)

hello world    this is    a
test

Whether we want to work with separated words of this string we should split it, in other words wo should get a list consists of this words. To do this we can use `split()` method.

In [3]:
s.split()

['hello', 'world', 'this', 'is', 'a', 'test']

So, we've got exactly we wanted. Notice, that delimiters in this case is whitespaces (one or more) and also any *whitespace symbols* which includes the tab character (we haven't it) and new line symbol `\n`. Delimiters doesn't goes to resulting list.

**Important!** `split()` method doesn't changes a string (generaly, we can't change a string at all):

In [11]:
s = "hello world    this is    a\ntest"
s.split()
print(s)

hello world    this is    a
test

In upper code the second string doesn't makes any effect - we've created a list and immideatly forget it and the string remained unchanged. If you want to do smth with list you've got after `split()` apply and not just admire and forget it forever, you'll need to save it as a variable:

In [6]:
words = s.split()
# now s.split() result is saved in a words variable  
for word in words:
    print(word)

hello
world
this
is
a
test

`split()` method has optional parameter - delimiter. If you specify it, than a string will be splited by this delimiter.

In [12]:
s.split("    ")

['hello world', 'this is', 'a\ntest']

We've passed four whitespaces as a delimiter and now our string is splitting by it, and one whitespace or new line symbol not perceived as a delimiter.

Assume we want to enter several numbers separated by comma and print each one increased by one. We can try this code:

In [21]:
s = input("Enter several numbers separated by comma: ")
elements = s.split(",")
for n in elements:
    print(n + 1)

Enter several numbers separated by comma: 1,2,3

TypeError: can only concatenate str (not "int") to str

It's not hard to guess it's not working: after splitting the string we've got a list of strings. To convert this strings to numbers we have to use `int()`. Generaly, there are methods which allows quite easy convert all list elements to numbers, but we haven't learned it yet. Lets handle every elemnt separately in loop.

In [22]:
s = input("Enter several numbers separated by comma: ")
elements = s.split(",")
for n in elements:
    n = int(n)
    print(n + 1)

Enter several numbers separated by comma: 1,2,3
2
3
4

Now it's working!

### Convert list to string

Now, lets solve reverse problem: we have a list and we want to print it in some form. There are different ways to do this. For example, we can just print it:

In [15]:
elements = ["one", "two", "three"]
print(elements)

['one', 'two', 'three']

But elements here in parentheses and every string wrapped by quotation marks. We can print it element by elemnt in loop:

In [16]:
for el in elements:
    print(el)

one
two
three

So it's print it in a column because `print()` by default adds a newline character `\n` at the end of each output line. If we want to output the list items in some other way, for example in a line but without parentheses, commas and quotation marks, then we need to use other methods.

The first of them is the use of the `join()` method.

In [17]:
print(" ".join(elements))

one two three

In [18]:
# we can build string with different symbols
print(":".join(elements))

one:two:three

In [19]:
print("----".join(elements))

one----two----three

This is covenint method but it has some restrictions: it requires all list elemnts be a strings. If there are another objects, it'll break.

In [20]:
numbers = [6, 9, 10]
", ".join(numbers)

TypeError: sequence item 0: expected str instance, int found

We can work around this problem (later we'll talk about `map()` and list compehensions), but now lets discuss another way to printing lists based on `print()` function.

Recall that if you pass a list to the `print()` function it will print it in square brackets separated by commas.

In [23]:
print(numbers)

[6, 9, 10]

And if you pass separated list elements, it'll print it without parentheses separate it with whitespaces (generally, with any simbols, you can set it with `sep` param).

In [24]:
print(numbers[0], numbers[1], numbers[2])

6 9 10

The line above gives the result we wanted but it will only work if there are exactly three elements in the list. If there are more elements only three will be output. If there are fewer then an error will occur. Fortunately in Python there is a construction that allows
you to "strip" the list pass all its elements to some function separated by a comma. This is done with the help of an asterisk (`*`).

In [25]:
print(*numbers)

6 9 10

The asterisk removes the square brackets around the list items:

In [26]:
print(*[5, 8, 9, 11, "Hello"])

5 8 9 11 Hello

In [27]:
print(5, 8, 9, 11, "Hello")

5 8 9 11 Hello

If you want to use another separator instead of a space then this is also possible:

In [28]:
print(*numbers, sep=', ')

6, 9, 10

### Strings and slices

Strings can behave almost like lists. For example you can access individual string elements to separate characters or make slices.

In [30]:
s = "This is a test"

In [31]:
s[6]

's'

In [32]:
s[5]

'i'

In [33]:
s[3:8]

's is '

Later we will talk more about the lines (this is another big story).

## Algorithms with loops

Let's look at an example of an algorithm that uses a loop.

Recall how last time we searched for Fibonacci numbers.

First we perform *initialization* - we set the initial values of the variables that we will need in the future. Initially we know the values of the first two Fibonacci numbers (these are ones); we will write them in variables and in the future we will store the next two found Fibonacci numbers necessary to find the next number.

In [34]:
# initialization (executes only once when algorithm starts)
a = 1 # first number
b = 1 # second number

Then we are writing code that moves to the next number. We will execute it several times, and each time we'll get a new Fibonacci number.

In [35]:
c = a + b # found next number
a = b # we do not need a anymore, but still need b
b = c # remember computed value
print(b)

2

By executing this cell several times we will get consecutive Fibonacci numbers.

This approach works pretty well but if we had to find the 115 Fibonacci number we would be tormented by restarting the cell. Instead we use the `for` loop which will automatically execute the code snippet that calculates the next number as many times as we need. For example, 10:

In [36]:
# initialization (executes only once when algorithm starts)
a = 1 # first number
b = 1 # second number
for i in range(10):
    # loop body: will be executed 10 times
    c = a + b
    a = b 
    b = c 
    print(i, c)

0 2
1 3
2 5
3 8
4 13
5 21
6 34
7 55
8 89
9 144

Another example, let's say we would like not to display found Fibonacci numbers on the screen and record them in some list. For this slightly modify the above code instead of `print()` will need to substitute a command that will add the number found in some list. However, to add something to this list, we must create it in advance. Initially, it may be empty - such a list creates by empty brackets.

In [37]:
# initialization (executes only once when algorithm starts)
a = 1 # first number
b = 1 # second number
fib = [] # created empty list

for i in range(25):
    c = a + b
    a = b 
    b = c 
    fib.append(b) # record elemnt to the end of fib

print(fib)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418]

## Checking conditions

In the process of program execution sometimes is required to perform a particular piece of code, depending on some conditions. For example, if a user has entered wrong data that was requested (we wanted a positive number and got a negative), then we have to print the error and ask
to enter the data again. Solution to this problem is broken into a few steps: first, we need to check some condition and then depending on the result of this test to choose which code to execute. Let's start with test conditions.

In [38]:
6 < 8

True

Here we've asked "whether it is true that 6 less than 8?". "Truly is"  answered Python in his overseas language. The word `True` which he gave out is not just a word meaning "truth" but a special logical meaning. It is also named "boolean" (by name of the one of founders of mathematical logic [George Boole](https://en.wikipedia.org/wiki/George_Boole)). It consists only from two kinds: either `True` or `False`. The third is not given.

In [39]:
8 > 9

False

The result of the check can be written to a variable.

In [40]:
condition = 6 < 8

In [41]:
condition

True

Now that the condition variable is a boolean (`bool`).

In [42]:
type(condition)

bool

We can check the equality of two quantities. Whether it is true that 7 is equal to 7?

In [44]:
7 == 7

True

Note that here you need to write the equality symbol twice because one equals sign is an assignment operation ("assign what is on the right to what is on the left") and the equality check operation is a completely different thing. For example:

In [46]:
a = 5

We've put number 5 to a. Such an operations doesn't returns anything.

In [47]:
a = 7

Now we put number 7 to a.

In [49]:
a == 5

False

Now we've asked if it is true that a is equal to five. Got `False`.

It must be said that the comparison works in a fairly reasonable way. For example, the number 7 and the number 7.0 are strictly speaking different objects (the first one is an integer and the second one is floating point number), but it's clear that as numbers they are the same object. So the comparison will output `True`.

In [50]:
7 == 7.0

True

## If statement

In [51]:
a = int(input("Enter positive number: "))
if a < 0:
    print("Error!")
    print("Number is not positive!")
print("You've entered", a)

Enter positive number: 4
You've entered 4

You need to pay attention to several things: first, after `if` you have to specify a condition and after the condition a colon is necessarily placed (as in cycles), then there is a block of commands that are executed if the condition is `True`. As in cycles this block of commands must be indented. Commands that are not included in the block (in this case this is the last line) are executed in any case.

Let's say we want to handle both situations separately: when the condition is met and when it is not. To do this we need to use `else` keyword.

In [53]:
a = int(input("Enter positive number: "))
if a < 0:
    print("Error!")
    print("Number is not positive!")
else:
    print("Very good!")
    print("You've entered positive number!")
print("You've entered", a)

Enter positive number: 4
Very good!
You've entered positive number!
You've entered 4

The `if-else` construction works as an alternative: either one code snippet is executed (after `if` - if the condition is true) or another (after `else` – if it is incorrect). Sometimes you need to check
several conditions consecutively.

In [54]:
a = int(input("Enter some number: "))
if a > 100:
    print("This is very big number")
elif a > 10:
    print("This is big number")
else:
    print("This is small number")

Enter some number: 3
This is small number

Here the keyword `elif` is used which is a combination of the words `else` and `if`. The conditions are checked in turn starting from the first one as soon as one of the conditions is true the corresponding block is executed and the rest of the conditions are not checked.

## Complicated conditions

Let's say we need to check the fulfillment of several conditions. Say we want to get a number from 0 to 100 – numbers less than 0 or greater than 100 aren't satisfied. This could be done using several nested `if` statements, smth like this:

In [55]:
a = int(input("Please, enter number from 0 to 100: "))
if a <= 100:
    if a >= 0:
        print("Thanks, I like your number")
    else:
        print("You are wrong, this number not in range from 0 to 100")
else:
    print("You are wrong, this number not in range from 0 to 100")

Please, enter number from 0 to 100: 4
Thanks, I like your number

This code is quite cumbersome, the line with the error message had to be copied twice. Not very well. It turns out that you can implement the same functionality easier:

In [56]:
a = int(input("Please, enter number from 0 to 100: "))
if a <= 100 and a >= 0:
    print("Thanks, I like your number")
else:
    print("You are wrong, this number not in range from 0 to 100")

Please, enter number from 0 to 100: 101
You are wrong, this number not in range from 0 to 100

Here we use the keyword `and` denoting the operation *logical AND*. It does the following: checks the left condition (in this case `a <= 100`), checks the right condition (`a >= 100`) and if both of these conditions are met (have the value `True`) then the result of executing `and` is `True`; if at least one of them is not met (has the value `False`), then the result of executing `and` is `False`. So we can check exactly the condition we are interested in.

> Strictly speaking, if the left argument of `and` turns out to be a `False`, then the right one is not even calculated: why waste time if it is already clear that it is necessary to return a `False`?

It's possible to rewrite this code in a different way using a boolean OR (`or`):

In [57]:
a = int(input("Please, enter number from 0 to 100: "))
if a > 100 and a < 0:
    print("You are wrong, this number not in range from 0 to 100")
else:
    print("Thanks, I like your number")

Please, enter number from 0 to 100: 0
Thanks, I like your number

The result of executing `or` is `True` if at least one argument is `True`. Finally there is a third logical operator – this is negation (`not`). It has only one argument and returns `True` if its argument is `False` and vice versa.

In [59]:
a = int(input("Please, enter number from 0 to 100: "))
if not(a <= 100 and a >= 0):
    print("You are wrong, this number not in range from 0 to 100")
else:
    print("Thanks, I like your number")

Please, enter number from 0 to 100: 999
You are wrong, this number not in range from 0 to 100

We can check how logical commands work by simply substituting `True` or `False` as arguments:

In [60]:
True or False

True

In [61]:
False and True

False

Be or not to be?

In [65]:
to_be = False
to_be or not to_be

True

What happens if `to_be` is set to `True`? Result is still `True`.

## While cycle

In [66]:
a = int(input("Enter number from 0 to 100: "))
while a > 100 or a < 0:
    print("Wrong! This number not in range from 0 to 100")
    a = int(input("Enter number from 0 to 100: "))
print("Good")

Enter number from 0 to 100: 999
Wrong! This number not in range from 0 to 100
Enter number from 0 to 100: 3
Good

Another example is password verification:

In [67]:
correct_passwd = ';ugliugliug'
passwd = input("Please, enter password: ")
while passwd != correct_passwd:
    print("Access denied")
    passwd = input("Please, enter password: ")
print("Access granted")

Please, enter password: 3
Access denied
Please, enter password: ;ugliugliug
Access granted

This code is not very elegant because we have to write a line with `input()` twice. A situation in which we have to copy some lines of code usually means that a design error has been made. We can do it more elegantly with the `break` command – it allows to exit a loop. The following example also demonstrates an infinite loop: in theory
`while True:` must be executed as long as `True` is `True` that is, forever. But we will exit earlier with `break`.

In [68]:
correct_passwd = ';ugliugliug'
while True:
    passwd = input("Please, enter password: ")
    if passwd == correct_passwd:
        print("Access granted")
        break 
    else:
        print("Access denied")

Please, enter password: 3
Access denied
Please, enter password: ;ugliugliug
Access granted

The `break` command can be used to exit any loop. Here is an example for a `for` loop:

In [69]:
numbers = [6, 8, 9, 6, -7, 9]
for i in numbers:
    if i < 0:
        print("Negative number detected!!!!111111odin")
        break
    print(i+1)

7
9
10
7
Negative number detected!!!!111111odin

## Indeking list items

As a small digression we will discuss such a problem: there is a list and we need to output its elements and their indexes. This problem could be solved like this:

In [70]:
numbers = [7, 8, 9, 43]
i = 0 # here we'll store index
for n in numbers:
    print(i, n)
    i += 1
    # this line is same with i = i + 1

0 7
1 8
2 9
3 43

Not the most elegant solution – we have to create some variable `i`, initialize it before entering the loop and do not forget to add one to it inside the loop.

Another solution:

In [71]:
numbers = [7, 8, 9, 43]
for i in range(len(numbers)):
    print (i, numbers[i])

0 7
1 8
2 9
3 43

It is also not the height of elegance: here we have to write `numbers[i]` every time and in general clarity suffers: looking at the `for` loop it is not clear that we are going to iterate over the elements of the `numbers` list.

The correct Python approach looks like this:

In [72]:
numbers = [7, 8, 9, 43]
for i, n in enumerate(numbers, 2):
    print(i, n)

2 7
3 8
4 9
5 43

What have happened here? The main magic lies in the `enumerate()` command. Let's see how it works:

In [73]:
enum = list(enumerate(numbers))

In [74]:
enum

[(0, 7), (1, 8), (2, 9), (3, 43)]

The result of executing `enumerate` returns a thing that behaves like a list whose elements are pairs of numbers (in fact these are tuples, `tuple` is immutable lists). In each pair the first number is an index and the second is an element of the original list.

Then when executing `for` loop the list assignment mechanism is used. It works like this:

In [75]:
a, b = (7, 9)

In [76]:
print(a)
print(b)

7
9

If in the left part of the equal sign there are several variables separated by commas, and in the right part there is an object that behaves like a list and the number of its elements is equal to the number of variables, then the assignment goes element by element: the first element of the list goes to the first variable, the second - to the second, and so on.

In [77]:
a, b, c = (1, 2, 3)
print(c)

3

Now note that in the `for` loop we have two variables (separated by commas) as the loop variable. What happens when we get into the loop for the first time? `for` takes the first element from `enumerate(numbers)`. This is a pair of numbers:

In [78]:
enum[0]

(0, 7)

Now it equates this pair of numbers to a pair of variables `i` and `n`:

In [79]:
i, n = enum[0]

Now `i` stores 0 (index of the first `numbers` element) and `n` stores the first `numbers` element itself. And so on at each step `i` will store the corresponding index and `n` - the corresponding number.

At the same time the result is much more elegant than the previous ones: there is no need to explicitly describe what is happening with `i` and the meaning of what is happening is clear when looking at the line with `for`.